:root {
    --dark-primary: #00796B;
    --light-primary: #B2DFDB;
    --primary: #009688;
    --white: #FFFFFF;
    --accent: #4CAF50;
    --black: #212121;
    --grey: #757575;
    --light-grey: #BDBDBD;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    justify-content: space-between;
}

.cb-navbar {
    background-color: var(--dark-primary) !important;
    height: 50px;
}

a.cb-logo {
    color: var(--white);
}

a.cb-logo:hover {
    color: var(--light-grey);
}

.cb-home {
    background-color: #efefef;
    height: calc(100% - 50px);
    padding-top: 50px;
}

.hero {
    max-width: 600px;
}

.hero-text h3 {
    color: #444;
}

.hero-text p {
    font-size: 14px;
    color: #666;
}

.auth-tab-buttons {
    width: 100%;
    /* border-bottom: 1px solid var(--light-grey); */
    display: flex;
}

.auth-tab-buttons button{
    padding: 10px 80px;
    background-color: var(--light-grey);
    border: 0;
    /* width: 100%; */
    outline: none !important;
    cursor: pointer !important;
}

.hero-form {
    width: 100%;
}

.active-home-button {
    background: var(--white) !important;
    border: 1px solid var(--light-grey) !important;
    border-bottom: 0 !important;
}


.auth-tab-content {
    margin-top: -1px;
    padding: 20px 10px;
    border: 1px solid var(--light-grey);
    background-color: var(--white);
}
